* {
  /* temp */
  /* border: 1px solid black; */

  font-family: Arial, Helvetica, sans-serif;
}

/* /// input area /// */

.inputArea {
  display: none;
  /* display: flex; */
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 30%;
  background-color: #f2f2f2;

  box-shadow: 2px 2px 1.3px rgba(0, 0, 0, 0.027),
    4.5px 4.6px 3px rgba(0, 0, 0, 0.04), 7.9px 8px 5.3px rgba(0, 0, 0, 0.048),
    12.5px 12.8px 8.4px rgba(0, 0, 0, 0.054),
    19.3px 19.7px 12.9px rgba(0, 0, 0, 0.058),
    30.1px 30.8px 20.2px rgba(0, 0, 0, 0.062),
    50px 51px 33.5px rgba(0, 0, 0, 0.065), 100px 102px 67px rgba(0, 0, 0, 0.07);

  border-radius: 15px;

  left: 30%;
  top: 30%;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputArea > label {
  font-size: 1.5em;
  color: rgb(119, 119, 119);
}

.inputArea > input {
  height: 20%;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.inputArea > img {
  position: relative;
  width: 7vh;
  height: 7vh;
  top: 10%;
  left: 0;
  cursor: pointer;
}

.labelTxtinp {
  margin-bottom: 40px;
}

/* /// mainbox /// */

#mainbox,
#mainbox_icons_iconbox,
#mainbox_icons_completedbox {
  /* border: 1px solid black; */
}

body {
  background: rgb(28, 181, 240);
  background: linear-gradient(
    97deg,
    #1cb5f0 0%,
    rgba(28, 181, 240, 1) 29%,
    rgba(70, 252, 229, 1) 80%,
    #46fce5 95%
  );
}

#mainbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 37.5%;
  top: 15%;
  width: 25%;
  height: 70%;

  box-shadow: 2px 2px 1.3px rgba(0, 0, 0, 0.027),
    4.5px 4.6px 3px rgba(0, 0, 0, 0.04), 7.9px 8px 5.3px rgba(0, 0, 0, 0.048),
    12.5px 12.8px 8.4px rgba(0, 0, 0, 0.054),
    19.3px 19.7px 12.9px rgba(0, 0, 0, 0.058),
    30.1px 30.8px 20.2px rgba(0, 0, 0, 0.062),
    50px 51px 33.5px rgba(0, 0, 0, 0.065), 100px 102px 67px rgba(0, 0, 0, 0.07);

  border-radius: 15px;
}

#mainbox_icons {
  display: flex;
  flex-direction: row;
  height: 15%;
}

/* /// ICONS /// */
#mainbox_icons_iconbox {
  display: flex;
  border-radius: 15px 0px 0px 0px;
  background-color: #f8f8f8;
  width: 50%;
  height: 100%;
  position: relative;
}

.topIcons {
  width: 18%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 41%;
}

#mainbox_icons_completedbox {
  border-radius: 0px 15px 0px 0px;
  position: relative;

  width: 50%;
  /* background-color: #f8f8f8; */
  background-color: #e6e6e6;
  border-left: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  height: 100%;
}

/* /// LISTorCOMPLETED /// */

#mainbox_list {
  display: flex;
  /* position: relative; */
}

#mainbox_list > img {
  position: absolute;
  align-self: flex-end;
  width: 5vh;
  height: 5vh;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
}

#mainbox_completed {
  display: none;
}

.listORcompleted {
  border-radius: 0px 0px 15px 15px;
  background-color: #f8f8f8;
  height: 100%;
}

.listToDo {
  /* background-color: #f8f8f8; */
  position: relative;
  width: 80%;
  list-style: none;
  /* overflow-y: scroll; */
}

.list_task {
  /* text-decoration: line-through; */
  background-color: red;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 10px;
  align-self: center;

  /* display: flex; */
  /* width: 100%; */
}

.task_delete {
  /* position: absolute; */
  width: 10%;
}
.task_confirm {
}
